@charset "utf-8";
/* CSS Document */

.strength_meter{
  background:silver;
}
.strength_meter div{
  text-align:center;
  color:black;
  font-weight:bold;
  border: 1px solid white;
}
.veryweak{
  background-color: #FFA0A0!important;
  border-color: #F04040!important;
}
.weak{
  background-color: #FFB78C!important;
  border-color: #FF853C!important;
}
.medium{
  background-color: #FFEC8B!important;
  border-color: #FC0!important;
}
.strong{
  background-color: #C3FF88!important;
  border-color: #8DFF1C!important;
}